div {
    text-align: center;
    background-color: aliceblue;
    color: black;
    padding-bottom: 30px;
}
img {
    width: 600px;
    height: auto;  
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    margin-bottom: 10px;
}

a {
text-decoration: none;
color: black;
margin-top: 10px;
}

lists {
    text-align: left;
}

a:hover {
    color: whitesmoke;
    background-color: blue;
}